.icon-images{
    width: 1.5%;
}
.icon-box{
    padding-bottom: 14px;
    border-bottom: 1px solid #000000;
}
.ul-border{
    border-top: 1px solid #000000;
}
.items-borders{
    border-bottom: 1px solid #000000;
}
.background-color{
    background-color: #f5ebdc;
}