body{
    background-color: #f5ebdc;
}

.icon-images{
    width: 1.5%;
}
.icon-box{
    padding-bottom: 14px;
    border-bottom: 1px solid #000000;
}
.ul-border{
    border-top: 1px solid #000000;
}
.items-borders{
    border-bottom: 1px solid #000000;
}
.top-header{
    /* border: 1px solid red; */
    position: absolute;
    top: 5px;
    left: 28%;
    z-index: 10;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
    position: fixed;
}
.top-header>div{
    /* border:  1px solid red; */
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.background-color{
    background-color: #f5ebdc;
    width: 100%;
    
}
.logo-img{
    width: 8%;
}
.bag-icon{
    width: 16%;
    margin-right: 6px;
    margin-bottom: 4px;
    text-align: center;
}
.sign-up-button{
    background-color: #f13030;
    border: none;
    width: 15%;
    height: 38px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bolder;
    color: #Ffff;
}
.sign-up-button:hover{
    background-color: #b42b2b;
}
.amount-button{
    background-color: #efefef;
    color: #000000;
    height: 38px;
    width: 12%;
    font-size: 12px;
    border-radius: 20px;
}
.amount-button:hover{
    background-color: #e5e900;
    color: #000000;
}


/* hero banner started */
.market-icon-img{
    width: 5%;
    margin-bottom: 6px;
}
.delivery-icon-img{
    width: 5%;
    margin-bottom: 6px;

}
.buttom-market-icon{
    border-radius: 30px;
    height: 60px;
    width: 60%;
    background-color: #f13030;
    color: #ffff;
    border: none;
}
.buttom-delivery-icon{
    border-radius: 30px;
    height: 60px;
    width: 60%;
    margin-top: 10px;
    border: 1px solid #f13030;
    background-color: #ede3d5;
    color: #f13030;
}
.buttom-delivery-icon:hover{
    background-color: #fde1d9ed;
}
.hero-banner>div{
    /* border: 1px solid #f13030; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}
.hero-box{
    width: 80%;
    padding-right: 7%;
}
.hero-banner h1{
    color: rgb(98, 25, 25);
    font-weight: bold;
    font-size: 52px;
    margin-left: 23%;   
}

.hero-banner{
    /* border: 1px solid red;   */
    background-color: #f5ebdc;
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
}

/* hero banner ended */

/* card box started */

.card-box{
   /* border: 1px solid red; */
   background-color: #f5ebdc;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   /* width: 90%; */
   margin: 0 auto;
}
.card-img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.card-box div{
   /* border: 1px solid #28c712; */
   background-color: #ffff;
   margin-top: 10px;
   width: 45%;
   border-radius: 20px;
}
.card-box div h3{
    font-weight: bold;
    font-size: 25px;
    padding: 25px 25px 0px;
    color: #512416;
}
.card-box div p{
    font-weight: bold;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    color: #512416;    
}
.card-box div button{
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    margin-top: 4%;
    margin-bottom: 20px;
    border: 1px solid #f13030;
    background-color: #ffff;
    color: #f13030;
}
.card-buttons:hover{
    background-color: #ede3d5;
}
.card-button-1:hover ,.card-button-2:hover,.card-button-4:hover{
    background-color: #ede3d5;
}
.card-button-1{
    margin-left: 79%;
    padding-left: 15px;
    padding-right: 15px;
}
.card-button-2{
    margin-left: 73%;
    padding-left: 15px;
    padding-right: 15px;
}
.card-button-4{
    margin-left: 71%;
    font-size: 10px;
}
.card-buttons{
    margin-left: 78%;
    padding-left: 20px;
    padding-right: 20px;
    
}
/* card box started */

/* footer started */
  .footer{
    /* border: 1px solid red; */
    background-color: #ebe2d3;
    display: flex;
    justify-content: center;
    gap: 9%;
    margin-top: 20%;
  }
  .footer div{
    /* border: 1px solid #00ff00; */
    width: 37%;
  }
  .footer div h1,p{
    font-weight: bolder;
    margin-top: 50px;
    color: #512416;
  }
  .footer div h1{
    font-size: 45px;
  }
  .footer>div>img{
    width: 100%;
    position: relative;
    bottom: 55px;
  }
  .footer-link-img{
    width: 40%;
    margin-top: 20px;
  }
  .img{
    margin-left: 25px;
  }
  .footer-line{
    background-color: #512416;
    height: 60px;
    position: relative;
    bottom: 50px;
  }
  .footer-line p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
  }
  .footer-line a{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
  }
/* footer ended */

@media only screen and (max-width: 600px) {
   
    .logo-img{
        width: 56%;
        padding-left: 22px;
    }
    .amount-button{
        display: none;
    }
    .sign-up-button{
        width: 90%;
        margin-left: 60px;
        margin-right: 5px;
    }
    .top-header{
        position: absolute;
        top: 8.5px;
        /* left: 225px; */
        margin-left: 40px;
    }

    .hero-banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-banner>div{
        width: 100%;
        margin-top: 4%;
    }
    .hero-box>img{
        display: none;
    }
    .hero-box{
        background-image: url(images/mobile-herobanner-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 373px;
        width: 100%;
        padding-right: 0;
    }
    .hero-banner h1{
        font-size: 25px;
        margin-left: 0;
        position: absolute;
        top: 6%;
    }
    .buttom-market-icon{
        width: 95%;
    }
    .buttom-delivery-icon{
        width: 95%;
        margin-bottom: 30px;
    }

    .card-box{
        display: flex;
        flex-direction: row;
    }.card-box div{
        width: 95%;
    }
    .card-button-1{
        margin-left: 76%;
    }
    .card-button-2{
        margin-left: 68%;
    }
    .card-button-4{
        margin-left: 65%;
    }
    .card-buttons{
        margin-left: 73%;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer h1{
        display: none;
    }
    .footer div{
        width: 100%;
    }
    .footer-link-img{
        width: 30%;
    }
    .pic{
        margin-left: 19%;
    }
    .footer p{
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer>div>img{
        display: none;
    }
    .scaner-img{
        background-image: url(images/mobile-img.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
    }
    .footer-line p{
       font-size: 10px;
       padding-top: 24px;
    }
}

@media only screen and (max-width: 550px) {
    .hero-box{
        background-image: url(images/mobile-herobanner-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 330px;
        width: 100%;
        padding-right: 0;
    }
}
